.contact{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    margin: 200px 0 100px;
    align-items: center;
}
.contactBox{
    border: 1px solid white;
    width: 600px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 20px;
}
.contactBox> p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 30px;
}
.contactBox>p>span{
    color: #f64c08 !important;
}
.contactBox>p>span>a{
    color: #f64c08 !important;
}

.contactIcons>a>button>.css-i4bv87-MuiSvgIcon-root{
    color: white;
    font-size: 30px;
}